build*/
artifacts/
.reference/
.local/
sdkconfig
sdkconfig.old
sdkconfig.local*
.cache/
__pycache__/
.metadata/
.settings/
.clangd
.cproject
.project
.vscode/
*.log
.*-attachments/
node_modules/
flasher/dist/
